body {
  background-color: bisque;
  animation: colorchange infinite 4s ;
}
#clock {
  background-image: url(clock.jpg);
  width: 320px;
  height: 320px;
  margin: auto;
  border: 4px solid rgb(212, 90, 111);
  background-size: 100%;
  position: relative;
  background-repeat: no-repeat;
  top: 30px;
}

#hour {
  width: 2%;
  height: 19%;
  top: 28%;
  border-radius: 20px;
  left: 48.5%;
  transform-origin: bottom;
  z-index: 0.8;
  background-color: orange;
  position: absolute;
}
#minutes {
  position: absolute;
  width: 2%;
  height: 21%;
  top: 26%;
  border-radius: 20px;
  left: 48.5%;
  background-color: orange;
  transform-origin: bottom;
  z-index: 0.8;
}
#seconds {
  position: absolute;
  transform-origin: bottom;
  width: 1%;
  height: 24%;
  top: 23.5%;
  border-radius: 20px;
  left: 49.5%;
  background-color: orange;
  z-index: 0.8;
}

#yellow_hole {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  top: 44.5%;
  left: 44.5%;
  position: absolute;
  background-color: orange;
  z-index: 0.9;
}
#red_hole {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  top: 45.4%;
  left: 45.7%;
  position: absolute;
  background-color: red;
  z-index: 0.95;
}
#white_hole {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: 46.2%;
  left: 46.5%;
  position: absolute;
  background-color: white;
  z-index: 0.95;
}
#black_hole {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  top: 47.8%;
  left: 47.88%;
  position: absolute;
  background-color: black;
  z-index: 1;
}

@keyframes colorchange {
  0%{
    background-color: pink;
  }
  20%{
    background-color: bisque;
  }
  40%{background-color: rgb(182, 221, 143);}
  60%{background-color: rgb(169, 239, 233);}
  80%{background-color: rgb(236, 153, 199);}
  100%{background-color: rgb(225, 225, 130);}
  
}